#chat{
    display: grid;
    grid-template-rows: 3fr 7fr 1fr;
    height: 93vh;
}

span.MuiButton-label {
    color: white;
}

#usersContainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 3%;
}

#chatContainer{

}

#typeContainer{
    border: 1px solid black;
    width: 90%;
    justify-self: center;
    height: 6vh;
}