#chat{
    display: grid;
    grid-template-areas: 3fr 7fr 1fr;
    height: 93vh;
}

span.MuiButton-label {
    color: white;
}

#usersContainer{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* margin: 3%; */
    /* margin-top: -1%; */
    margin-top:55px;
    position: fixed;
    z-index: 500;
    background-color: #f5f0f0;
    width: 100%;
    padding-top: 5px;
}

#chatContainer{

}

#typeContainer{
    border: 1px solid black;
    width: 90%;
    justify-self: center;
    height: 6vh;
}