/* #food {
  border-radius: 20%;
  width: 100%;
  background-color:#6bec7d;
  grid-template-rows : 2fr 1fr;
  font-size: 90%;
} */

img {
  border-radius: 50%;
}

.selected-image {
  border: 4px solid #53e066;
  box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.75);
}

.chosenFood{
  display: inline-block ;
  width: 40%;
  text-align: center;
}

.picAndText {
  display: inline-block ;
  width: 40%;
  text-align: center;
}

.text {
  margin-top: 10%;
  font-size: 14px;
  font-weight: bold;
}

.desc {
  margin-top: 5%;
  font-size: 110% ;
  font-weight: bold;
}

