#fbContent{ 

        display: grid ;
        width: 100% ;
        background-color: #f4f4f4;
        padding: 4% ;
        justify-items: center;
        justify-self: center;
        

}

.welcome {
    font-size: 130%;
    font-weight: bold;
    margin-top: 2%;
}
img {
        border-radius: 50% ;
}