.foodRoom{
    /* display: grid ;
    grid-template-rows: 1fr 8fr ; */
    background-color: #d8d8d8;
}

.chosenFoods {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 5%;
}