.foodBubble{
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "n n c"
    "p d d";
}

.foodBubble > .foodName{
    grid-area: n;
}
.foodBubble > .foodPic{
    grid-area: p;
}
.foodBubble > .foodDesc{
    grid-area: d;
    font-size: 10%;
}
.foodPic > img{
    height: 30px;;
    width: 30px;
}