@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.9);
        transform: scale(1.9);
    }
}


@keyframes scale-down-hor-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}



.foodBubble {
    margin-top: 20%;
    margin-bottom: 15%;
    height: 6.2em;
    width: 6.2em;
    animation-name: scale-down-hor-center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    border-radius: 50%;
    border: 1px solid rgb(29, 141, 14);

}

.foodBubble>img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.checked {
    border: 3px solid rgb(29, 141, 14);
    border-radius: 50%;
    /* animation: scale-up-hor-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
    animation: rotate-center 0.6s ease-in-out both;
}