.foodRoom{
    /* display: grid ;
    grid-template-rows: 1fr 8fr ; */
    background-color: #d8d8d8;
}

.chosenFoods {
    height: 22vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}