.foodBubble{
    display: grid;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    /* margin: 30px auto; */
    width: 30vw;
    height: 12vh;
    border-radius: 20vh;    
    font-size: 70%;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "p n c"
    "p . c";
}

.foodBubble:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

.foodBubble > .foodName{
    grid-area: n;
}
.foodBubble > .foodPic{
    grid-area: p;
}

.foodPic > img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}