#homePageContainer{
    display: grid ; 
    margin: 2%;
    grid-template-columns: 1fr; 
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

h2 {
    justify-self: center ;
    text-transform: capitalize;
}

#searchFood{
    margin-bottom: 5%;
}

