#homePageContainer{
    display: grid ; 
    margin: 2%;
    grid-template-columns: 1fr; 
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

h2 {
    justify-self: center ;
    text-transform: capitalize;
}

#searchFood{
    margin-bottom: 5%;
}

#filter-food {
    background-color: #f5f0f0;
    border: none;
    border-bottom: 0.5px solid black;
}
