.interestedUser {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7%;
    width: 90vw;
    height: 25vh;
    background-color: #7bed9f;
    margin-bottom: 4%;
    font-weight: bold;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    grid-template-areas:
    "i n n"
    "i t t"
    "i t t"
    "m m m";
    justify-items: center;
    align-items: center;
}

img {
    margin-top: 7%;
    margin-left: 3%;
    border: 3px solid rgb(151, 143, 143);
    border-radius: 50%;
}


.profilePic {
    grid-area: i;
}


.name {
    grid-area: n;
    margin-top: 1%;
    justify-self: left;
}

.interests {
    grid-area: t;
    justify-self: left;
    width: 10vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50vw;
}

.inter{
    background-color: #2ed573;
    font-size: 60%;
    margin: 1%;
    border-radius: 10px;
    padding: 3%;
    display: inline-block;
}

.match {
    grid-area: m;
    background-color: #2ed573;
    border: 1px solid black;
    padding: 4%;
    border-radius: 50%;
    font-size: 80%;
    margin-bottom: 4%;
}


.interestedUser > a {
    text-decoration: none;
    display: grid;
    background-color: rgb(253, 234, 62);
    width : 32% ;
    height: 155%;
    border-radius: 50%;
    justify-self: center;
    justify-items: center ;
    align-items: center;
    font-size: 80%;
    margin-top: 4%;
}
