#landing{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

}

p {
    font-size: 120%;
    margin-bottom : 7%;
    margin-top : 2%;

}